body{
    background-color: #000 !important;
}
#menu .nav .nav-item .nav-link:hover{
    background-color: #D95D27;
}
.navbar-brand{
    font-size: 31px !important;
}
.navbar-brand span{
    color: #D95D27;
}
.slider{
    height: 400px;
    background-image: url("../images/bg.jpg");
    background-size: 100% 100% !important;
}
.slider span{
    color: #D95D27;
}
.btn-orange{
    background-color: #D95D27 !important;
    color: #fff !important;
}
.bg-orange{
    background-color: #D95D27 !important;
    color: #fff;
}


.info:hover{
    box-shadow: 0px 0px 10px #CCC;
    border-radius: 20px;
    transition: .5s;
    cursor: pointer;
}
.info:hover a{
    text-decoration: none !important;
}
.info:hover a i{
    color: #D95D27 !important;
    text-decoration: none;
}
.info:hover a p{
    color: #D95D27 !important;
    text-decoration: none !important;
}
.about{
    min-height: 200px;
    background-color: #D95D27;
}
.about .col-md-5{
    height: 300px;
    background-image: url("../images/about.jpg");
    background-size: 100% 100%;
    border-radius: 20px;
}
.about .col-md-7{
    color: #000;
}
.our-company{
    background-color: #fff;
    min-height: 200px;
}

.footer .navbar-brand{
    color: #000;
    font-weight: bold;
}
.footer .nav .nav-item .nav-link{
    color: #000;
}